

.root {
  padding: 7px;
}

.playerContainer {
  width: 60%;
  float: left;
  padding: 7px;
  box-sizing: border-box;
}

.player {
  background: #f1f1f1;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightBarContainer {
  float: right;
  width: 40%;
  padding: 7px;
  box-sizing: border-box;
}

.resultsContainer {
  width: 60%;
  float: left;
  padding: 7px;
  box-sizing: border-box;
}

.levelDescription {
  font-size: 14px;
}

.levelFullName {
  color: #7d7d7d;
}

.chatContainer {
  clear: both;
}
