@import '../../components/variables.css';

.root {
  padding: 7px;
}

.playerContainer {
  width: 70%;
  float: left;
  padding: 7px;
  box-sizing: border-box;
}

.player {
  background: #f1f1f1;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightBarContainer {
  float: right;
  width: 30%;
  padding: 7px;
  box-sizing: border-box;
}

.title {
  margin-bottom: 10px;
}

.levelStatsContainer {
  width: 70%;
  float: left;
  padding: 7px;
  box-sizing: border-box;
}

.battleType {
  text-transform: lowercase;
}

@media all and (max-width: 1400px) {
  .playerContainer {
    width: 100%;
  }

  .rightBarContainer {
    width: 40%;
  }

  .levelStatsContainer {
    width: 60%;
  }
}

@media all and (max-width: 768px) {
  .rightBarContainer {
    width: 100%;
  }

  .levelStatsContainer {
    width: 100%;
  }

  .battleDescription {
    float: left;
  }

  .battleTimestamp {
    float: right;
  }
}

.chatContainer {
  clear: both;
}
