.battles {
  background: #fff;
  min-height: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

.datepicker {
  background: #f1f1f1;
  font-weight: 500;
  font-size: 16px;
}

.datepicker button {
  padding: 15px 10px;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: 0;
  width: 50px;
  text-align: center;
}

.selectedDate {
  display: inline-block;
  width: 120px;
  text-align: center;
}
