@import '../../components/variables.css';

.root {
  padding: 7px;
}

.rightBarContainer {
  float: right;
  width: 40%;
  padding: 7px;
  box-sizing: border-box;
}

.levelStatsContainer {
  width: 60%;
  float: left;
  padding: 7px;
  box-sizing: border-box;
}

.battleType {
  text-transform: lowercase;
}

.battleDescription {
  font-size: 14px;
}

.battleTimestamp {
  color: #7d7d7d;
}

@media all and (max-width: 1400px) {
  .rightBarContainer {
    width: 40%;
  }

  .levelStatsContainer {
    width: 60%;
  }
}

@media all and (max-width: 768px) {
  .rightBarContainer {
    width: 100%;
  }

  .levelStatsContainer {
    width: 100%;
  }
}

.chatContainer {
  clear: both;
}
