@import '../../components/variables.css';

.playerContainer {
  width: 60%;
  float: left;
  padding: 7px;
  box-sizing: border-box;
}

.player {
  background: #f1f1f1;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 1400px) {
  .playerContainer {
    width: 100%;
  }
}
