.root {
  background: #fff;
  min-height: 100%;
  box-sizing: border-box;
}

.levelPackName {
  font-size: 20px;
  padding: 10px;
}

.description {
  margin: 0 10px;
  font-size: 14px;
}

.shortName {
  font-weight: 500;
}

.longName {
  color: #8c8c8c;
}

.levels {
  padding-bottom: 200px;
  display: table;
  width: 100%;
}

.multis {
  padding-bottom: 200px;
  display: table;
  width: 100%;
}

.tableHead {
  font-weight: 500;
}

.levels > * {
  display: table-row;
  color: inherit;
  font-size: 14px;
  padding: 10px;
}

.multis > * {
  display: table-row;
  color: inherit;
  font-size: 14px;
  padding: 10px;
}

.levels > * > span {
  display: table-cell;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.multis > * > span {
  display: table-cell;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.levels > * > span:nth-child(1) {
  width: 70px;
}

.levels > * > span:nth-child(2) {
  width: 300px;
}

.levels > * > span:nth-child(3) {
  width: 180px;
}

.multis > * > span:nth-child(1) {
  width: 70px;
}

.multis > * > span:nth-child(2) {
  width: 300px;
}

.multis > * > span:nth-child(3) {
  width: 180px;
}

.multis > * > span:nth-child(4) {
  width: 180px;
}

.levelPopup {
  position: fixed;
  top: 0;
  right: 0;
  left: 800px;
  height: 100vh;
  background: #fff;
  box-sizing: border-box;
  padding-top: var(--top-bar-height);
  border-left: 1px solid #eaeaea;
}

@media all and (max-width: 1150px) {
  .levelPopup {
    left: 650px;
  }
}

@media all and (max-width: 999px) {
  .levelPopup {
    left: 50%;
  }
}

@media all and (max-width: 600px) {
  .levelPopup {
    left: 0;
  }
}

.title {
  font-weight: 500;
  padding: 10px;
  position: relative;
}

.levelTimes {
  display: table;
  width: 100%;
  font-size: 14px;
}

.levelTimes > * {
  display: table-row;
}

.levelTimes > * > * {
  display: table-cell;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.levelTimes > * > span:nth-child(1) {
  width: 20px;
}

.levelTimes > * > span:nth-child(2) {
  width: 200px;
}

.closePopup {
  position: absolute;
  right: 0;
  font-size: 25px;
  top: 0;
  padding: 10px;
  padding-top: 0;
  cursor: pointer;
}

.levelTimesContainer {
  max-height: 100%;
  overflow: auto;
}

.showMore {
  padding: 10px;
  font-size: 14px;
}
