.container {
  background: #fff;
  min-height: 100%;
}

.results {
  display: flex;
}

@media all and (max-width: 500px) {
  .results {
    flex-direction: column;
  }

  .results > div {
    margin-bottom: 20px;
  }
}

.results > div {
  flex: 1;
}

.resultLink {
  display: block;
  padding: 5px 10px;
}

.resultGroupTitle {
  padding: 10px;
  font-weight: 600;
}

.resultSecondaryData {
  color: #8c8c8c;
  font-size: 12px;
}

.resultLink:hover .resultMainData {
  text-decoration: underline;
}

.resultLink:hover .resultSecondaryData {
  text-decoration: underline;
}

.loadMore {
  background: transparent;
  font-weight: 600;
  border: 0;
  display: inline-block;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #219653;
}

.loadMore:disabled {
  cursor: default;
  color: #8c8c8c;
}
