@import '../variables.css';

.root {
  color: black;
  position: fixed;
  width: var(--side-bar-width);
  top: 0;
  left: 0;
  z-index: 11;
}

@media (max-width: 768px) {
  .root {
    width: 50px;
  }

  .expanded {
    width: var(--side-bar-width);
  }

  .text {
    display: none;
  }
}

.expanded {
  height: 100%;
}

.expanded .text {
  display: inline;
}

.container {
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.content {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  display: none;
  background: #1f1f1f;
}

.expanded .content {
  display: block;
}

.title {
  background: #383838;
  line-height: var(--top-bar-height);
  color: #fff;
  text-transform: uppercase;
  padding: 0 17px;
  outline: 0;
  cursor: pointer;
}

.content a {
  color: #c3c3c3;
  display: block;
  padding: 15px;
  text-decoration: none;
}

.content a:hover {
  background: rgba(0, 0, 0, 0.1);
}
