@import '../variables.css';

body {
  margin-left: var(--side-bar-width);
}

.root {
  background: #eaeaea;
  color: black;
  position: fixed;
  height: 100%;
  width: var(--side-bar-width);
  top: 0;
  left: 0;
}

.container {
  padding-top: var(--top-bar-height);
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.content {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
}
