.type,
.designer,
.winnerKuski,
.winnerTime,
.placement,
.filename,
.started {
  white-space: nowrap;
}

.type,
.filename {
  width: 130px;
}

a .type {
  text-transform: lowercase;
}

.designer,
.winnerKuski {
  width: 150px;
}

.winnerTime,
.placement {
  width: 60px;
}

.recentBattlesHead > * {
  display: table-cell;
  padding: 10px;
  color: #000;
  border-bottom: 1px solid #eaeaea;
}

.recentBattlesHead {
  display: table-row;
  font-weight: 500;
}
