.battleList {
  display: block;
  max-width: 100%;
  overflow: auto;
  padding-bottom: 200px;
}

.battleList a {
  color: black;
  display: table-row;
}

.battleList a:hover {
  background: #f9f9f9;
}

.listHeader > * {
  border-bottom: 1px solid #eaeaea;
  padding: 10px;
  display: table-cell;
}

.battleList a > * {
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
  display: table-cell;
  vertical-align: middle;
}

.levelFileName {
  width: 100px;
}

.designerName {
  width: 150px;
  white-space: nowrap;
}

.winnerTime {
  width: 60px;
  white-space: nowrap;
}

.winnerKuski {
  width: 150px;
  white-space: nowrap;
}

.battleStarted {
  width: 80px;
}

.type {
  width: 100px;
  white-space: nowrap;
}

a .type {
  text-transform: lowercase;
}

.listHeader {
  font-weight: 500;
  display: table-row;
}

.battles {
  display: table;
  table-layout: fixed;
  min-width: 100%;
}

.popularity {
  max-width: 150px;
  overflow: hidden;
}

.popularity .popularityBar {
  height: 5px;
  background: #219653;
}
