.chat {
  margin: 0;
  max-height: 400px;
  width: 100%;
  overflow: auto;
}

.chatLine {
  font-size: 14px;
  margin-bottom: 4px;
  position: relative;
}

.message {
  margin-left: 60px;
}

.kuski {
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: center;
}

.line {
  margin: 7px;
  border-color: #7d7d7d;
  width: 100%;
}

.event {
  position: relative;
  color: #7d7d7d;
  font-size: 10px;
  white-space: nowrap;
}

.timestamp {
  color: #7d7d7d;
  min-width: 50px;
  float: left;
  margin-right: 5px;
}

.paginationWrapper {
  text-align: center;
}

.pagination {
  display: inline-block;
}
